In [2]:
PATH = r'/home/nazarov/09-education/04 - HSE ML/task01/titanic.csv'

In [3]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy.random as np
import sys
import matplotlib

%matplotlib inline

In [4]:
titanic = pd.read_csv(PATH )

In [5]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
titanic['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

# 1. 577 314

In [90]:
titanic['Survived'][titanic['Survived']==1].count() / titanic['Survived'].count()

0.38383838383838381

# 2. 38.38

In [91]:
titanic['Pclass'].unique()

array([3, 1, 2])

In [92]:
titanic['Pclass'][titanic['Pclass']==1].count() / titanic['Pclass'].count()

0.24242424242424243

# 3. 24.24

In [18]:
titanic['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

# 4. 29.699118 28.000000

In [22]:
titanic.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

# 5. 0.414838

In [84]:
import re
import random

births = [random.randint(0,313) for i in range(1000)]
df = pd.DataFrame(data = births, columns=['Names'])
df['Names']= " "


names = titanic['Name'][titanic['Sex']=='female']
type(name)
#re.sub(',','', name)
for j,nam in enumerate(name):
    temp = re.sub(',','', nam).split()
    if 'Miss.' in temp:
        for i, n in enumerate(temp):
            #print(n)
            if n == 'Miss.':
                df.ix[j] = temp[i+1]
                # print (temp[i+1])
                break
    else:
        for i, n in enumerate(temp):
            if n[0] == '(':
                start = 1
                if n[len(n)-1] == ')':
                    end = len(n)-2 
                else:
                    end = len(n)-1    
                n_new = n[start:end]
                df.ix[j] = n_new
                # print (n_new)
                break

In [89]:
df['Names'].value_counts()

              693
Anna            9
Mary            9
Mari            7
Ann             7
Helen           6
Elizabet        6
Margaret        6
Elizabeth       5
Mar             5
Bertha          4
Margare         4
Alice           4
Ellen           4
Ad              4
Florenc         3
Edit            3
Kate            3
Annie           3
Catherin        3
Jan             3
Hanora          3
Katherine       3
Augusta         3
Maria           2
Elsie           2
Lillian         2
Constance       2
Mabel           2
Emily           2
             ...
Helene          1
Alm             1
Edwina          1
Telma           1
"Mr             1
Am              1
Elisabeth       1
Gladys          1
Roberta         1
Sylvi           1
Anne            1
Eln             1
Marguerite      1
Virginia        1
Ethel           1
Karolin         1
Luise           1
Ruth            1
Gerda           1
Madelein        1
Thamine         1
Malake          1
Laina           1
Hanna           1
Hileni          1
Hele            1
Sara            1
Luti            1
Aloisia         1
Mathild         1
Name: Names, dtype: int64

# 6. Anna